

.btn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
}

.btn:active {
	position:relative;
	top:1px;
}

.btn-cancel:hover{
    color: #dbdbdb;
    background-color: #272727;
}

.btn-cancel{
    background-color: #000;
    color: #fff;
}

.btn-delete:hover{
    color: #dbdbdb;
    background-color: #be0d00;
}

.btn-delete{
    background-color: #f44336;
    color: #fff;
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}